@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF');
}
.App{
  height: 100vh;
  background-color: #FFFF;
  width: 414px;
  position: relative;
  border: solid 1px black;
}
